* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

#color {
    background-color: gold;
}


/* ESTILOS NAV*/

nav {
    font-family: 'Stardos Stencil', cursive;
    text-align: center;
    background-color: black;
    color: gold;
}

#navbarSupportedContent a {
    font-size: 1.3em;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1rem;
    border-radius: 5%;
    text-align: center;
    transition: all .2s ease-in-out;
}

#navbarSupportedContent a:hover {
    background: goldenrod;
    color: black !important;
    box-shadow: 2px 2px 5px black;
}


/* ESTILOS FORMULARIO DE CONTACTO */

.info-form {
    display: flex;
    justify-content: center;
    font-family: 'Stardos Stencil', cursive;
    margin-top: 15px;
    margin-bottom: 10px;
}

#form-btn {
    /* padding: 15px; */
    margin-bottom: 10px;
    /* font-size: 16px; */
    border: none;
    outline: 0;
    background: black;
    color: gold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
}
   
#form-btn:hover {
    background: white;
    color: black;
}

.info-contacto-general p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    /* display: flex;
    justify-content: space-between; */
}

.info-contacto-general a {
    font-size: 17px;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.info-contacto-general a i{
    color: rgb(0, 0, 0);
    margin-right: 10px;
}


/* FOOTER STYLE*/

footer {
    font-family: 'Stardos Stencil', cursive;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: gold;
}

.footer-item {
    display: flex !important;
    justify-content: space-evenly !important;
}

.footer-item a {
    font-size: 20px;
    padding:3px ;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: goldenrod;
    border-radius: 50%;
    box-shadow: 2px 2px 5px gold;
    transition: all .3s ease-in-out;
}

.footer-item a:hover {
    background: goldenrod;
    color: black;
    box-shadow: 2px 2px 5px black;
}



/* ESTILOS EQUIPO */
#equipo {
    margin-top: 2em;
    margin-bottom: 2em;
}

#center {
    display: flex;
    justify-content: center;
    margin-left: 28vw;
    width: 35vw;
    height: 45vh;
}



/* ESTILOS SOBRE NOSOTROS */
.parrafo-nosotros {
    margin: 0 1em 0 1em;
    font-size: 1.1em;
    font-family: 'Stardos Stencil', cursive;
}


/* ESTILO VIDEO RESPONSIVE */
/* iframe {
    position: absolute;
    height: 100%;
    width: 100%;
} */


/* ESTILO AUDIENCIA INDEX */

#compra {
    transition: 0.5s;
    object-fit: cover;
}

#compra:hover {
    transform: scale(1.2);
}


#audiencia-1 {
    margin: 1rem;
    transition: 0.5s;
    object-fit: cover;
}

#audiencia-1:hover {
    transform: scale(1.1);
}


#audiencia-2 {
    margin: 1rem;
    transition: 0.5s;
    object-fit: cover;
}

#audiencia-2:hover {
    transform: scale(1.1);
}